<div class="main">
    <div class="container">
        <h2 class="text-center">Burger Chomper</h2>
        <div class="text-center">
            <img src="/assets/img/burger.png">
        </div> 
        <div class="text-center add_menu">
            <input id="newBurger" type="text" placeholder="Add a burger">
            <button id="addBurger" type="button" class="btn btn-large btn-success" >Add</button>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2>You have been served</h2>
                <div class="devoured text-center">
                    {{#each burgers}}
                    {{#unless devoured}}
                        <div class="burger_div text-center">
                            <div class="text-center">
                                <p class="text-center">{{this.burger_name}}
                                    <span>
                                        <button type="button" class="btn btn-sm btn-success devour" data-id={{ID}}>Devour!</button>
                                    </span>
                                </p>
                            </div>  
                        </div>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2>You have been served</h2>
                <div class="devoured text-center">
                    {{#each burgers}}
                     {{#if devoured}}
                    <div class="burger_div text-center">
                        <div class="text-center">
                            <p class="text-center">{{this.burger_name}}</p>
                        </div>
                    </div>
                      {{/if}}
                     {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>



